﻿
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mentoring.dreamguystech.com/html/template/admin/profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:33:22 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Viettel FC</title>
    <link rel="shortcut icon" href="~/image/imagelogo/the-cong-viettel.png">
    <link href="~/admin_assets/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/admin_assets/plugins/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/admin_assets/plugins/fontawesome/css/all.min.css" rel="stylesheet" />

    <link href="~/admin_assets/css/feathericon.min.css" rel="stylesheet" />
    <link href="~/admin_assets/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/style.css" rel="stylesheet" />
    <link href="~/admin_assets/css/ckeditor.css" rel="stylesheet" />
</head>
<body>
    <div class="main-wrapper">
        <div class="header">

            <div class="header-left">
                <a href="/admin/home" class="logo">
                    <img src="https://th.bing.com/th/id/OIP._8oz8stVnLGxjKspfdnnGAHaEK?rs=1&pid=ImgDetMain" alt="Logo">
                </a>
                <a href="/admin/home" class="logo logo-small">
                    <img src="https://th.bing.com/th/id/OIP._8oz8stVnLGxjKspfdnnGAHaEK?rs=1&pid=ImgDetMain" alt="Logo" width="30" height="30">
                </a>
            </div>

        


            

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span><i class="fe fe-home"></i> Main</span>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/user/updateprofile" ? "active" : "")">
                            <a href="/user/updateprofile"><span>Cập nhật hồ sơ</span></a>
                        </li>
                        <hr />
                        <li>
                            <a style="color:red;" href="/user/logout"><span>Đăng xuất</span></a>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Admin/Home" ? "active" : "")">
                            <a href="/Admin/Home"><span>Dashboard</span></a>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/admin/usermanagement" ? "active" : "")">
                            <a href="/admin/usermanagement"><span>Nhân viên</span></a>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/adminnews/approvenew" ? "active" : "")">
                            <a href="/adminnews/approvenew"><span>Quản lý tin tức</span></a>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/admin/changepassword" ? "active" : "")">
                            <a href="/admin/changepassword"><span>Đổi mật khẩu</span></a>
                        </li>
                        <hr />

                    </ul>
                </div>
            </div>
        </div>

        @RenderBody()

    </div>

    <script src="~/admin_assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/admin_assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/admin_assets/js/feather.min.js"></script>

    <script src="~/admin_assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/admin_assets/plugins/datatables/jquery.datatables.min.js"></script>
    <script src="~/admin_assets/plugins/datatables/datatables.min.js"></script>

    <script src="~/admin_assets/plugins/raphael/raphael.min.js"></script>

    <script src="~/admin_assets/plugins/morris/morris.min.js"></script>

    <script src="~/admin_assets/js/chart.morris.js"></script>

    <script src="~/admin_assets/js/script.js"></script>
</body>


</html>