﻿
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Viettel FC</title>

    <link rel="shortcut icon" href="~/image/imagelogo/the-cong-viettel.png">

    <link href="~/admin_assets/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/admin_assets/plugins/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/admin_assets/plugins/fontawesome/css/all.min.css" rel="stylesheet" />

    <link href="~/admin_assets/css/feathericon.min.css" rel="stylesheet" />
    <link href="~/admin_assets/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/style.css" rel="stylesheet" />
    <link href="~/admin_assets/css/ckeditor.css" rel="stylesheet" />


</head>
<body>
    <div class="main-wrapper">
        <div class="header">

            <div class="header-left">
                <a href="/ProductManagement/index" class="logo">
                    <img src="~/image/imagelogo/logonobackgroud.png" alt="Logo">
                </a>
                <a href="/ProductManagement/index" class="logo logo-small">
                    <img src="~/image/imagelogo/logonobackgroud.png" alt="Logo" width="30" height="30">
                </a>
            </div>



        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span><i class="fe fe-home"></i> NHÂN VIÊN</span>
                        </li>
                        <hr />
                        <li>
                            <a href="/user/logout"><span>Đăng xuất</span></a>
                        </li>                  
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/User/UpdateProfile" ? "active" : "")">
                            <a href="/User/UpdateProfile"><span>Cập nhật hồ sơ</span></a>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Staff/ProductManagement" ? "active" : "")">
                            <a href="/Staff/ProductManagement"><span>Sản phẩm</span></a>
                        </li>
                        <hr />
                      
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Staff/MatchManagement" ? "active" : "")">
                            <a href="/Staff/MatchManagement"><span>Trận đấu</span></a>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Staff/CategoryProduct" ? "active" : "")">
                            <a href="/Staff/CategoryProduct"><span>Danh mục sản phẩm</span></a>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Staff/Season" ? "active" : "")">
                            <a href="/Staff/Season"><span>Mùa giải</span></a>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Staff/Discount" ? "active" : "")">
                            <a href="/Staff/Discount"><span>Mã giảm giá</span></a>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Staff/OrderProductManagement" ? "active" : "")">
                            <a href="/Staff/OrderProductManagement"><span>Đơn hàng sản phẩm</span></a>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Staff/TicketOrders" ? "active" : "")">
                            <a href="/Staff/TicketOrders"><span>Đơn hàng Vé</span></a>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Staff/SeatManagement" ? "active" : "")">
                            <a href="/Staff/SeatManagement"><span>Quản lý ghế</span></a>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Staff/SupplementaryItem" ? "active" : "")">
                            <a href="/Staff/SupplementaryItem"><span>Đồ đính kèm</span></a>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Staff/StaffManagermentNew" ? "active" : "")">
                            <a href="/Staff/StaffManagermentNew"><span>Tin tức</span></a>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/TeamManagement/Index" ? "active" : "")">
                            <a href="/TeamManagement/Index"><span>Đội bóng</span></a>
                        </li>
                        <hr />
                        <li class="@(ViewContext.HttpContext.Request.Path == "/admin/changepassword" ? "active" : "")">
                            <a href="/admin/changepassword"><span>Đổi mật khẩu</span></a>
                        </li>
                        <hr />                       
                    </ul>
                </div>
            </div>

        </div>
        @RenderBody()

    </div>

    <script src="~/admin_assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/admin_assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/admin_assets/js/feather.min.js"></script>

    <script src="~/admin_assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/admin_assets/plugins/datatables/jquery.datatables.min.js"></script>
    <script src="~/admin_assets/plugins/datatables/datatables.min.js"></script>

    <script src="~/admin_assets/plugins/raphael/raphael.min.js"></script>

    <script src="~/admin_assets/plugins/morris/morris.min.js"></script>

    <script src="~/admin_assets/js/chart.morris.js"></script>

    <script src="~/admin_assets/js/script.js"></script>
</body>


</html>