﻿
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Viettel FC</title>

    <link href="~/admin_assets/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/admin_assets/plugins/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/admin_assets/plugins/fontawesome/css/all.min.css" rel="stylesheet" />

    <link href="~/admin_assets/css/feathericon.min.css" rel="stylesheet" />
    <link href="~/admin_assets/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/style.css" rel="stylesheet" />
    <link href="~/admin_assets/css/ckeditor.css" rel="stylesheet" />
</head>
<body>
    <div class="main-wrapper">
        <div class="header">

            <div class="header-left">
                <a href="/staff/OrderProductManagement" class="logo">
                    <img src="https://th.bing.com/th/id/OIP._8oz8stVnLGxjKspfdnnGAHaEK?rs=1&pid=ImgDetMain" alt="Logo">
                </a>
                <a href="/staff/OrderProductManagement" class="logo logo-small">
                    <img src="https://th.bing.com/th/id/OIP._8oz8stVnLGxjKspfdnnGAHaEK?rs=1&pid=ImgDetMain" alt="Logo" width="30" height="30">
                </a>
            </div>

            


            
            

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span><i class="fe fe-home"></i> NHÂN VIÊN</span>
                        </li>
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Staff/OrderProductManagement" ? "active" : "")">
                            <a href="/Staff/OrderProductManagement"><span>Quản lý Đơn Hàng</span></a>
                        </li>
                        <li class="@(ViewContext.HttpContext.Request.Path == "/MatchManagement/Index" ? "active" : "")">
                            <a href="/MatchManagement/Index"><span>Trận đấu</span></a>
                        </li>
                        <li class="@(ViewContext.HttpContext.Request.Path == "/ProductManagement/Index" ? "active" : "")">
                            <a href="/ProductManagement/Index"><span>Sản phẩm</span></a>
                        </li>
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Category/Index" ? "active" : "")">
                            <a href="/Category/Index"><span>Danh mục sản phẩm</span></a>
                        </li>
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Season/Index" ? "active" : "")">
                            <a href="/Season/Index"><span>Mùa giải</span></a>
                        </li>
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Discount/Index" ? "active" : "")">
                            <a href="/Discount/Index"><span>Mã giảm giá</span></a>
                        </li>
                        <li class="@(ViewContext.HttpContext.Request.Path == "/Staff/StaffManagermentNew" ? "active" : "")">
                            <a href="/Staff/StaffManagermentNew"><span>Tin tức</span></a>
                        </li>
                        <li class="@(ViewContext.HttpContext.Request.Path == "/TeamManagement/Index" ? "active" : "")">
                            <a href="/TeamManagement/Index"><span>Đội bóng</span></a>
                        </li>
                        <li class="@(ViewContext.HttpContext.Request.Path == "/admin/changepassword" ? "active" : "")">
                            <a href="/admin/changepassword"><span>Đổi mật khẩu</span></a>
                        </li>
                        <li>
                            <a href="/user/logout"><span>Đăng xuất</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        @RenderBody()

    </div>

    <script src="~/admin_assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/admin_assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/admin_assets/js/feather.min.js"></script>

    <script src="~/admin_assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/admin_assets/plugins/datatables/jquery.datatables.min.js"></script>
    <script src="~/admin_assets/plugins/datatables/datatables.min.js"></script>

    <script src="~/admin_assets/plugins/raphael/raphael.min.js"></script>

    <script src="~/admin_assets/plugins/morris/morris.min.js"></script>

    <script src="~/admin_assets/js/chart.morris.js"></script>

    <script src="~/admin_assets/js/script.js"></script>
</body>


</html>