@model ApiResponse
@{
    Layout = "_layoutCommon";
}
<style>
    .size{
        cursor:pointer
    }

    .rate-item h4 {
        color: #979da0;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .rate-item select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        color: #333;
        font-size: 14px;
    }

        .rate-item select option {
            padding: 8px;
            background-color: #fff;
            color: #333;
        }

    .rate-item div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .card {
        border-radius: 10px;
        border: none !important;
        transition: transform 0.2s ease-in-out !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
        margin-bottom: 20px;
        height: 390px;
        max-height: 400px;
        position: relative;
    }

    }

    .card:hover {
        transform: scale(1.05) !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    }

    .product-img {
        height: 200px !important;
        object-fit: cover !important;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .product-title {
        white-space: nowrap; /* Không xuống dòng */
        overflow: hidden; /* Ẩn phần nội dung thừa */
        text-overflow: ellipsis; /* Thêm dấu '...' khi nội dung bị cắt */
        max-width: 350px; /* Chiều rộng tối đa của phần tử */
        padding-left: 10px
    }

    .discount-badge {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #eb3636;
        color: white;
        padding: 5px 10px;
        border-radius: 50px;
        font-size: 14px;
        font-weight: bold;
    }

    .product-title {
        white-space: nowrap; /* Không xuống dòng */
        overflow: hidden; /* Ẩn phần nội dung thừa */
        text-overflow: ellipsis; /* Thêm dấu '...' khi nội dung bị cắt */
        max-width: 350px; /* Chiều rộng tối đa của phần tử */
        padding-left: 10px;
        font-size: 18px !important;
        font-weight: 500 !important;
        color: #333 !important;
    }

    .product-price {
        color: red !important;
        font-size: 20px !important;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>

<div class=innerbannerwrap>
    <div class=content></div>
    <div class=innerbanner><h2 class=bannerHeadline style="font-size:65px">Chi tiết <span>sản phẩm</span></h2></div>
</div>
<section class=shopDpage>
    <div class=container>
        <div class=row>
            <h2 style="padding-bottom:50px" class="heading small">Quần áo đá bóng chính hãng <span>Viettel Shop</span></h2>
            <input type="hidden" style="display:none" id="idProduct" value="@ViewBag.Id" />

            <div class=shop-wrap>
                <div class=product-image-wrap>
                    <div class= "p_wrap"  id="lstImgBig">
                        <div class="product-image active" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background-image:none !important" id=product_1>
                            <img src= "@Model.Product.Image" alt=image id="imgAvatar">
                        </div>
                        @{
                            var index = 1;
                            foreach (var f in Model.pFile)
                            {
                                index++;
                                 <div class=product-image id="product_@index" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background-image:none !important">
                                     <img src="@f.FilePath" alt="@f.FileName">
                                 </div>
                            }
                        }
                       
                       @*  <div class=product-image id=product02>
                            <img src=images/product/shoesBig02.png alt=image>
                        </div>
                        <div class=product-image id=product03>
                            <img src=images/product/shoesBig03.png alt=image>
                        </div>
                        <div class=product-image id=product04>
                            <img src=images/product/shoesBig04.png alt=image>
                        </div>
                        <div class=product-image id=product05>
                            <img src=images/product/shoesBig05.png alt=image>
                        </div> *@
                    </div>
                    <div class=wrap-slide>
                        <div>
                            <a class=prvProduct></a> <a class=nxtProduct></a>
                            <ul class="product-details-slider clearfix" id="lstImgsmall">
                                <li class="active" style="height: 100px !important;width: 100px !important;">
                                    <a href=#product_1>
                                        <img src="@Model.Product.Image" style="max-width:58% !important"
                                             alt=image>
                                    </a>
                                </li>
                                @{
                                    var num = 1;
                                    foreach (var f in Model.pFile)
                                    {
                                        num++;
                                        <li style="height: 100px !important; width: 100px !important;"><a href=#product_@num><img src="@f.FilePath" alt="@f.FileName" style="max-width:58% !important"></a></li>
                                    }
                                }
                               @*  <li><a href=#product02><img src=images/product/shoe02.jpg alt=image></a></li>
                                <li><a href=#product03><img src=images/product/shoe03.jpg alt=image></a></li>
                                <li><a href=#product04><img src=images/product/shoe04.jpg alt=image></a></li>
                                <li><a href=#product05><img src=images/product/shoes05.png alt=image></a></li> *@
                            </ul>
                        </div>
                    </div>
                </div>
                <div class=product-content>
                    <h4 id="TenSP" style="padding-left:15px ;margin-bottom:20px !important;">@Model.Product.ProductName</h4>
                    
                    <div class="rate-product clearfix">
                        <div class=rate-item style="width:100% !important;padding-bottom:20px">
                            <h4 style="color:black ;text-align:left">Giá</h4>
                            <div style="display:flex">
                              
                                
                                @if (Model.Product.discoutPercent != null && Model.Product.discoutPercent != 0)
                                {
                                    var price = Model.Product.Price - (Model.Product.Price * Model.Product.discoutPercent / 100);
                                    <div id="giaSP" class="price" style="font-size:28px" data-price="@price">@price</div>
                                    <del style="margin-left:10px;color:black ; font-weight:100 !important;font-size:26px" class="price" data-price="@Model.Product.Price">@Model.Product.Price</del>
                                    <span style="margin-left:10px;font-size:13px"> @Model.Product.discoutPercent% off</span>
                                }
                                else
                                {
                                    var price = Model.Product.Price ;
                                    <div id="giaSP" class="price" data-price="@Model.Product.Price">@price</div>
                                }

                            </div>
                        </div>
                        <div class=item-size>
                            <h4 style="color:black ;font-size: 16px ;text-align:left"> Kích thước</h4>
                            <ul id="lstSize" style="text-align:left">
                                @if (!string.IsNullOrEmpty(Model.Product.Size))
                                {
                                    var lstSize = Model.Product.Size.Split(';');
                                    foreach (var size in lstSize)
                                    {
                                        <li class="size" data-size="@size">@size</li>
                                    }
                                }
                                else
                                {
                                    <p>Sản phẩm này không có kích thước.</p>
                                }
                            </ul>
                            <input type="text" value=""  id="sizeSp" style="display:none"/>
                        </div>
                        <div class=rate-item style="width:60% !important;padding-top:20px">
                            <h4 style="color:black ;text-align:left">In số áo (nếu cần)</h4>
                            <div style="display:flex">
                                <select id="shirtNumber">
                                    <option value="0">-- Chọn số áo --</option>
                                    <option value="0" >Không in</option>
                                    @foreach (var p in Model.players)
                                    {
                                        <option value="@p.PlayerId">@p.FullName - số @p.ShirtNumber</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class=rate-item style="width:80% !important;padding-top:20px">
                            <h4 style="color:black ;text-align:left">Chất liệu</h4>
                            <div style="display:flex">
                                <div id="chatlieu" style="font-size:18px ;color:#979da0 ;">@Model.Product.Material</div>
                            </div>
                        </div>

                      
                    </div>
                        <a class="btn-addcart" onclick="AddToCart(@ViewBag.Id)">Thêm giỏ hàng</a>
                        <a class=btn-blackLight>
                            Mua ngay
                        </a>
                  
                 

                  
                </div>
            </div>
            

           @*  <div class=shop-feedback>
                <h5>
                    customer feedback <a class=feedbackCust>
                        <i class="fa fa-caret-down"></i>
                    </a>
                </h5>

                <form data-parsley-validate="" name=contact class="feedbackContact formcontact clearfix">
                    <div class=form-group>
                        <input type=text class=form-control name=name placeholder=Name required=""
                               data-parsley-required-message="please insert Name">
                    </div>
                    <div class=form-group>
                        <input type=text class=form-control name=phone placeholder=Phone
                               required="" data-parsley-required-message="please insert Phone No">
                    </div>
                    <div class=form-group>
                        <input type=text class=form-control name=subject placeholder=subject
                               required="" data-parsley-required-message="please insert subject">
                    </div>
                    <div class=form-group>
                        <input type=email class=form-control name=email placeholder=Email
                               required="" data-parsley-required-message="please insert Email">
                    </div>
                    <div class=form-group1>
                        <textarea class="form-control textas" name=comment placeholder=Message
                                  required="" data-parsley-minlength=20
                                  data-parsley-minlength-message="Come on! You need to enter at least a 20 character comment.."
                                  data-parsley-validation-threshold=10
                                  data-parsley-maxlength=100></textarea>
                    </div>
                    <button type=submit class=btn-blackLight id=send>submit</button>
                    <div class=form-message></div>
                </form>
            </div> *@
        </div>
        <div class= "product-list col-md-12" >
            <h5 style="font-size:35px">Mô tả</h5>
            <p id="moTa" style="font-size:19px;margin-top:15px">@Model.Product.Description</p>
            <img src="~/image/imagelogo/tablesize.webp" />
        </div>
        <div class="col-sm-12" style="margin-top: 20px;">
            <div style="display: table; width: 100%;">
                <h4 style="display: table-cell; text-align: left; margin: 0;">Sản phẩm liên quan</h4>
                <a style="display: table-cell; text-align: right; font-size: 17px; color: #b81e20;" href="/public/sanpham">Xem tất cả >></a>
            </div>
        </div>


        <div class="col-md-12" style="margin-top:20px">
            @if(Model.LienQuan.Count > 0)
            {
                foreach (var p in Model.LienQuan)
                {
                    <div class="col-md-4 col-sm-6 col-lg-3 mb-4">
                        <div class="card position-relative">
                            <a href="/public/ChiTietSanPham/@p.ProductId">
                                <img src="@p.Image" class="card-img-top product-img" alt="@p.ProductName">
                            </a> 
                            @if (p.discoutPercent != null && p.discoutPercent != 0)
                            {
                                <div class="discount-badge">-@p.discoutPercent%</div>
                            }
                            <div class="card-body mt-3">
                                <a href="/public/ChiTietSanPham/@p.ProductId">
                                    <h5 class="product-title text-center">@p.ProductName</h5>

                                    @if (p.discoutPercent != null && p.discoutPercent != 0)
                                    {
                                        var price = p.Price  - ( p.Price * p.discoutPercent/100);
                                        <p class="product-price price text-center" data-price="@price">
                                            @price
                                            <del class="price" data-price="@p.Price" style="color:#333"></del>
                                        </p>
                                    }
                                    else 
                                    {
                                      
                                        <p class="product-price price text-center" data-price="@p.Price">
                                            @p.Price
                                        </p>
                                    }
                                   
                                </a>

                                <div class="d-flex" style="float:right ;margin :40px 20px 20px 0">
                                    <button class=" text-center" style="padding: 11px 20px 7px 20px; border:none; border-radius:5px">
                                        <i class="fa fa-shopping-cart" style="color:#eb3636 ;font-size:20px;" onclick="AddToCart(${item.productId})"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
           
        </div>
    </div>
</section>

<script src="~/admin_assets/js/jquery-3.6.0.min.js"></script>

<script src="~/home_assets/js/detailsanpham.js"></script>

