@model IEnumerable<TCViettetlFC_Client.Models.OrderProductDto>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quản lý đơn hàng sản phẩm";
    Layout = "_LayoutAdmin";
}


        <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Quản lý đơn hàng sản phẩm</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="datatable table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Email</th>
                                                <th>Số điện thoại</th>
                                                <th>Họ tên</th>
                                                <th>Mã đơn</th>
                                                <th>Ngày đặt</th>
                                                <th>Tổng tiền</th>
                                                <th>Nhân viên xử lý</th>
                                                <th class="text-center">Trạng thái</th>
                                                <th class="text-center">Tác vụ</th>
                                            </tr>
                                        </thead>                                     

                                        <tbody>
                                                @foreach (var order in Model)
                                                {
                                                <tr>
                                                    <td>@order.id</td>
                                                    <td>@order.email</td>
                                                    <td>@order.phone</td>
                                                    <td>@order.fullName</td>
                                                    <td>@order.shipmentTrackingCode</td>
                                                    <td>@order.orderDate?.ToString("yyyy-MM-dd")</td>
                                                    <td>@order.totalPrice?.ToString("N0")đ</td>
                                                    <td> 
                                                        @if (!string.IsNullOrWhiteSpace(order.staffFullName))
                                                        {
                                                            @order.staffFullName <br />
                                                        }
                                                        else if (!string.IsNullOrWhiteSpace(order.staffEmail))
                                                        {
                                                            <span>Email: @order.staffEmail</span>
                                                        }
                                                @*
                                                        @if (order.staffId.HasValue) // Check if staffId is not null
                                                        {
                                                            <span>ID: @order.staffId.Value</span>

                                                            <br />
                                                        }
                                                        @if (!string.IsNullOrWhiteSpace(order.staffPhone))
                                                        {
                                                            <span>Phone: @order.staffPhone</span>

                                                            <br />
                                                        } 
                                                        @if (!string.IsNullOrWhiteSpace(order.staffEmail))
                                                        {
                                                            <span>Email: @order.staffEmail</span>
                                                        }*@
                                                    </td>

                                                    <td class="text-center">
                                                        <span class="badge badge-pill @(order.status == null ? "bg-secondary" : "bg-success") inv-badge">
                                                            @(order.status.HasValue ? "đã xử lí" : "chưa xử lí")
                                                        </span>
                                                    </td>

                                                    <td class="text-end">
                                                        <div class="actions d-flex flex-column">
                                                            <a href="/staff/orderproductdetail?id=@order.id" class="btn btn-sm bg-success-light mb-2">
                                                                <i class="fe fe-pencil"></i> Xử lí đơn
                                                            </a>
                                                            @if (!string.IsNullOrEmpty(order.shipmentTrackingCode))
                                                            {
                                                                <a href="/staff/OrderShipmentDetail?trackingcode=@order.shipmentTrackingCode" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> Thông tin vận chuyển
                                                                </a>
                                                            }
                                                        </div>
                                                    </td>

                                                </tr>
                                                }
                                        </tbody>
                                      
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/js/feather.min.js"></script>

    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/datatables.min.js"></script>

    <script src="~/assets/js/script.js"></script>

