@{
    ViewData["Title"] = "User Management";
    Layout = "_LayoutAdmin";
    var categories = ViewData["CategoryList"] as List<TCViettetlFC_Client.Models.CategoryNewViewModel>;
    var newsList = ViewData["NewList"] as List<TCViettetlFC_Client.Models.GetAllNewViewModel>;
    var creatorId = ViewData["CreatorId"];
    var status = ViewData["Status"];
    var createdAt = ViewData["CreateAt"];
}

<div class="page-wrapper">

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-warning">
            @TempData["Message"]
        </div>
    }
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <!-- Add User Button -->
                    <button id="addUserBtn" class="btn btn-primary mb-3" onclick="toggleUserForm()">Thêm mới tin tức</button>

                    <!-- User Form -->


                    <div class="table-responsive">
                        <table class="datatable table table-hover table-center mb-0">
                            <thead>
                                <tr class="text-center">
                                    <th>ID</th>
                                    <th>Creator ID</th>
                                    <th>Category</th>
                                    <th>Title</th>
                                    <th>Content</th>
                                    <th>Image</th>
                                    <th>Created At</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (newsList != null && newsList.Any())
                                {
                                    @foreach (var news in newsList)
                                    {
                                        <tr class="text-center">
                                            <td>@news.Id</td>
                                            <td>@news.CreatorId</td>
                                            <td>@news.NewsCategory</td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(news.Title) && news.Title.Length > 20)
                                                {
                                                    @(@news.Title.Substring(0, 20) + "...")
                                                }
                                                else
                                                {
                                                    @news.Title
                                                }


                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(news.Content) && news.Content.Length > 20)
                                                {
                                                    @(@news.Content.Substring(0, 20) + "...")
                                                }
                                                else
                                                {
                                                    @news.Content
                                                }
                                            </td>


                                            <td>
                                                <img src="@news.Image" alt="News Image" style=" max-width: 100px;height: auto;" />
                                            </td>
                                            <td>@(news.CreatedAt.HasValue ? news.CreatedAt.Value.ToString("yyyy-MM-dd") : "N/A")</td>
                                            <td>
                                                @if (news.Status.HasValue)
                                                {
                                                    @if (news.Status.Value == 0)
                                                    {
                                                        <span style="color:red">Chưa phê duyệt</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="color:green">Đã phê duyệt</span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span class="badge badge-pill bg-secondary">Unknown</span>
                                                }
                                            </td>


                                            <td class="text-end">
                                                <div class="actions">
                                                    <a href="javascript:void(0)" class="btn btn-sm bg-success-light me-2"
                                                       onclick="toggleUserForm(@news.Id, '@news.CreatorId', '@news.NewsCategory', '@news.Title', '@news.Content','@news.Image','@news.CreatedAt','@news.Status')">
                                                        <i class="fe fe-pencil"></i> Chỉnh sửa
                                                    </a>
                                                    <form asp-action="DeleteNew" asp-route-id="@news.Id" method="post" style="display:inline;">
                                                        <button type="submit" class="btn btn-danger delete-new">Xóa</button>
                                                    </form>
                                                </div>
                                            </td>

                                        </tr>

                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8" class="text-center">No users available</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="p-4" id="newForm" style="display:none; margin-bottom: 20px;">
                        <h5>Thêm mới tin tức </h5>
                        <!-- Display Validation Summary -->

                        <form asp-action="CreateNew" method="post">
                            <div class="row">


                                <input type="hidden" value="@creatorId" class="form-control" name="creatorId" required>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Thể loại</label>
                                        <select class="form-control" name="newsCategoryId" required>
                                            <option value="">Chọn một thể loại</option>
                                            @foreach (var category in categories)
                                            {
                                                <option value="@category.Id">@category.CategoryName</option>
                                            }


                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" class="form-control" name="title" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Content</label>
                                        <input type="text" class="form-control" name="content" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Image</label>
                                        <input type="text" class="form-control" name="image" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>CreatedAt</label>
                                        <input value="@createdAt" type="text" class="form-control" name="createdAt" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <input type="text" value="@status" class="form-control" name="status" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="p-4" id="newEditForm" style="display:none; margin-bottom: 20px;">
                        <h5>Chỉnh Sửa tin tức</h5>
                        <form asp-action="UpdateNew" method="post">
                            <input type="hidden" id="EditingNewId" name="NewId" />
                            <input type="hidden" value="@creatorId" id="EditingCreatorId" name="CreatorId" />

                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>New Category</label>
                                        <select class="form-control" id="EditingNewCategory" name="NewsCategoryId" required>
                                            <option>Chọn một thể loại</option>
                                            @foreach (var category in categories)
                                            {
                                                <option value="@category.Id">@category.CategoryName</option>
                                            }


                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" class="form-control" id="EditingTitle" name="Title" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Content</label>
                                        <input type="text" class="form-control" id="EditingContent" name="Content" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Image</label>
                                        <input type="text" class="form-control" id="EditingImage" name="Image">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Created At</label>
                                        <input value="@createdAt" class="form-control" name="CreatedAt" />
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <input class="form-control" id="EditingStatus" name="Status" />
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Cập nhật bản tin</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function toggleUserForm(Id, CreatorId, NewsCategory, Title, Content, Image, CreatedAt, Status) {
        // Check if we are editing a user
        if (Id) {
            // Fill the editing form with current user data
            document.getElementById('EditingNewId').value = Id;
            document.getElementById('EditingCreatorId').value = CreatorId;
            document.getElementById('EditingNewCategory').value = NewsCategory;
            document.getElementById('EditingTitle').value = Title;
            document.getElementById('EditingContent').value = Content;
            document.getElementById('EditingImage').value = Image; // Set the status

            document.getElementById('EditingStatus').value = Status; // Set the status

            // Hide the add user form and show the edit form
            document.getElementById('newForm').style.display = 'none';
            document.getElementById('newEditForm').style.display = 'block';
        } else {
            // Clear the editing form

            document.getElementById('EditingNewId').value = '';
            document.getElementById('EditingCreatorId').value = '';
            document.getElementById('EditingNewCategory').value = '';
            document.getElementById('EditingTitle').value = '';
            document.getElementById('EditingContent').value = '';
            document.getElementById('EditingImage').value = '';

            document.getElementById('EditingStatus').value = '';


            // Hide the edit form and show the add user form
            document.getElementById('newEditForm').style.display = 'none';
            document.getElementById('newForm').style.display = 'block';
        }
    }



    document.querySelectorAll('.delete-new').forEach(button => {
        button.addEventListener('click', function (event) {
            const confirmation = confirm("Bạn có chắc chắn muốn xóa tin tức này?");
            if (!confirmation) {
                event.preventDefault(); // Prevent the form from submitting
            }
        });
    });

</script>
