@model TicketOrderDetailModel
@{
    ViewData["Title"] = "Chi tiết đơn hàng vé";
    Layout = "_LayoutAdmin";
    var sups = Model.Sup;
    var tickets = Model.Ticket;
}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Chi tiết đơn hàng</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Id trận đấu</th>
                                        <th>Id vị trí</th>
                                        <th>Giá tiền</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var ticket in tickets)
                                    {
                                        <tr>
                                            <td>@ticket.Id</td>
                                            <td>@ticket.MatchId</td>
                                            <td>@ticket.AreaId</td>
                                            <td>@ticket.Price</td>
                                            <td>@(ticket.Status == 1 ? "Khả dụng" : "Không khả dụng")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Đơn giá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var sup in sups)
                                    {
                                        <tr>
                                            <td>@sup.Id</td>
                                            <td>@sup.ItemName</td>
                                            <td>@sup.Quantity</td>
                                            <td>@sup.Price</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
