@model List<TCViettetlFC_Client.Models.GetAllNewViewModel>
@{
    ViewData["Title"] = "Duyệt tin tức";
    Layout = "_LayoutAdminReal";
}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="p-3">

            <div class="d-flex justify-content-between ">
                <div style="max-width: 400px">
                    <form class="input-group mb-3" method="get" action="/AdminNews/ApproveNew">
                        <input type="text" name="searchTerm" class="form-control" placeholder="Tìm kiếm tại đây" aria-label="Search" style="border-radius: 30px;">
                        <div class="input-group-append">
                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>

                </div>
                <form method="get" action="/AdminNews/ApproveNew">
                    <div class="ml-3">
                        <select name="sortOption" class="form-select" aria-label="Sort options" style="border-radius: 30px;" onchange="this.form.submit()">
                            <option selected>Sắp xếp</option>
                            <option value="0">All</option>
                            <option value="1">Tiêu đề A->Z</option>
                            <option value="2">Ngày tăng dần</option>
                            <option value="3">Ngày giảm dần</option>
                            <option value="4">Pending</option>
                            <option value="5">Approved</option>
                        </select>
                    </div>
                </form>
                
            </div>
            <div class="card card-table">
                <div class="card-header">
                    <h4 class="card-title">Danh sách tin tức</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0">
                            <thead>
                                <tr class="text-center">
                                    
                                    <th>STT</th>
                                    <th hidden>ID</th>
                                    <th>Người tạo</th>
                                    <th>Danh mục</th>
                                    <th>Tiêu đề</th>
                                    
                                    <th hidden>Content</th>
                                    <th hidden>Ảnh</th>
                                    <th>Ngày tạo</th>
                                    <th>Tin tức</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var news in Model.Select((value, index) => new { value, index }))
                                {
                                    <tr >
                                        <td class="text-center">@(news.index + 1)</td> <!-- Thêm số thứ tự tăng dần -->
                                        <td hidden>@news.value.Id</td>
                                        <td class="text-center">@news.value.CreatorId</td>
                                        <td class="text-center">@news.value.NewsCategory</td>
                                        <td style="word-wrap: break-word; max-width: 200px; white-space: normal;">@news.value.Title</td>
                                        <td hidden>
                                            @if (!string.IsNullOrEmpty(news.value.Content) && news.value.Content.Length > 20)
                                            {
                                                @(@news.value.Content)
                                            }
                                            else
                                            {
                                                @news.value.Content
                                            }
                                        </td>
                                        
                                        <td hidden>
                                            <img src="@news.value.Image" alt="News Image" style=" max-width: 100px;height: auto;" />
                                        </td>
                                        <td class="text-center">@news.value.CreatedAt</td>
                                        <td class="text-center">
                                            <a href="javascript:void(0)" class="btn btn-sm bg-success-light me-2"
                                               onclick="toggleNewForm(@news.value.Id, '@Html.Encode(news.value.Title)', '@Html.Encode(news.value.CreatorId)', '@Html.Encode(news.value.NewsCategory)', '@Html.Encode(news.value.Content)','@Html.Encode(news.value.CreatedAt)')">
                                                Xem chi tiết
                                            </a>


                                         
                                        </td>


                                        <td class="text-center">
                                            @if (news.value.Status.HasValue)
                                            {
                                                @if (news.value.Status.Value == 0)
                                                {
                                                    <span style="color:red">Chưa phê duyệt</span>
                                                }
                                                else
                                                {
                                                    <span style="color:green">Đã phê duyệt</span>
                                                }
                                            }
                                            else
                                            {
                                                <span class="badge badge-pill bg-secondary">Unknown</span>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (news.value.Status == 0)
                                            {
                                                <form asp-action="UpdateStatus" method="post">
                                                    <input type="hidden" name="newsId" value="@news.value.Id" />
                                                    <input type="hidden" name="newStatus" value="1" />
                                                    <button type="submit" class="badge btn-accept bg-success border-0">Phê duyệt</button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form asp-action="UpdateStatus" method="post">
                                                    <input type="hidden" name="newsId" value="@news.value.Id" />
                                                    <input type="hidden" name="newStatus" value="0" />
                                                    <button type="submit" class="badge btn-reject bg-danger border-0">Từ chối</button>
                                                </form>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="newsDetailModal" tabindex="-1" aria-labelledby="newsDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-width">
        <!-- Thêm class custom-modal-width -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newsDetailModalLabel">Thông tin chi tiết</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p hidden id="newsId"></p>
                <div class="data-header">
                    <p id="newsCreator"></p>
                    <span>-</span>
                    <p id="newsCategory"></p>
                    <span>-</span>
                    <p id="newsCreatedAt"></p>
                </div>
                
                <h1 id="newsTitle"></h1>
                <p id="newsContent"></p>
            </div>
        </div>
    </div>
</div>

<style>
    .data-header{
        display: flex;
        justify-content: end;
        color: darkblue;
    }

    .data-header p{
        margin-left:10px;
        margin-right:10px;
    }
    .custom-modal-width {
        max-width: 80%; /* Điều chỉnh chiều rộng modal (90% của màn hình) */
    }
    #newsContent{
        max-width:90%;
        margin:auto;
    }


    .modal-body img {
        max-width: 100%; /* Đặt chiều rộng tối đa là 90% của modal */
        height: auto; /* Đảm bảo tỷ lệ khung hình của ảnh không bị méo */
        margin-bottom:20px;
        margin-top:20px;
    }

    #newsTitle {
        margin: revert;
        align-content: center;
        text-align: center;
        font-family: sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 600;
    }
</style>

<script>
    function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    }

    function toggleNewForm(Id, Title, CreatorId, NewsCategory, Content, CreatedAt) {
        if (Id) {
            // Cập nhật thông tin khác trong modal
            document.getElementById('newsId').innerText = Id;
            document.getElementById('newsTitle').innerText = Title;
            document.getElementById('newsCreator').innerText = "Người tạo: " + CreatorId;
            document.getElementById('newsCategory').innerText = "Danh mục: " + NewsCategory;
            document.getElementById('newsCreatedAt').innerText = "Ngày tạo: " + CreatedAt;

            // Giải mã HTML trước khi hiển thị
            document.getElementById('newsContent').innerHTML = decodeHtml(Content);

            // Hiển thị modal
            var myModal = new bootstrap.Modal(document.getElementById('newsDetailModal'));
            myModal.show(); // Hiển thị modal
        }
    }



</script>

<script src="~/assets/js/jquery-3.6.0.min.js"></script>

<script src="~/assets/js/bootstrap.bundle.min.js"></script>

<script src="~/assets/js/feather.min.js"></script>

<script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/assets/plugins/datatables/datatables.min.js"></script>

<script src="~/assets/js/script.js"></script>






