@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutCommon";
}
@model TCViettetlFC_Client.Models.PlayerViewModel
<style>
    .button {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0.6em 2em;
        border: #b81e20 solid 0.15em;
        border-radius: 0.25em;
        color: #b81e20;
        font-size: 1.5em;
        font-weight: 600;
        cursor: pointer;
        overflow: hidden;
        transition: border 300ms, color 300ms;
        user-select: none;
    }

        .button p {
            z-index: 1;
            margin: 0;
        }

        .button:hover {
            color: #212121;
        }

        .button:active {
            border-color: #b81e00;
        }

        .button::before,
        .button::after {
            content: "";
            position: absolute;
            width: 212%; /* Cover larger buttons */
            height: 200%;
            background: #b81e20;
            opacity: 50%;
            border-radius: 50%;
            transition: transform 500ms, background 300ms;
        }

        .button::before {
            left: -100%;
            top: -50%;
            transform: translateX(-100%);
        }

        .button::after {
            right: -100%;
            top: -50%;
            transform: translateX(200%);
        }

        .button:hover::before {
            transform: translateX(0);
        }

        .button:hover::after {
            transform: translateX(0);
        }

        .button:active::before,
        .button:active::after {
            background: #b91e20;
        }
</style>
<section class="playerDetails02">
    <div class="container">
        <div class="row">
            <div class="spacewithtop" style="padding-top:7.5%"></div>
            <h2 class="heading">Cầu<span>Thủ</span></h2>
        </div>
        <div class="wrapper-container clearfix">
            <ul class="playerDetailsPage-info clearfix">
                <li>

                    <p><strong>Số áo:</strong> @(Model.ShirtNumber?.ToString() ?? "N/A")</p>
                    <h2>@Model.FullName</h2>
                    <div class="bio_player">

                        <p><strong>Vị trí:</strong> @Model.Position</p>
                        <p><strong>Ngày gia nhập:</strong> @(Model.JoinDate?.ToString("dd/MM/yyyy") ?? "N/A")</p>
                        <p><strong>Ngày rời đội:</strong> @(Model.OutDate?.ToString("dd/MM/yyyy") ?? "")</p>
                    </div>
                </li>
                <li style="background-image:none">
                    <img style="width: -webkit-fill-available;
                                height: -webkit-fill-available;"
                         src="@Model.avatar" alt="@Model.FullName">
                </li>
                <li style="display: flex;
                           flex-wrap: wrap;
                           align-content: space-between;
                           justify-content: center;">
                    <h5>
                        <p><strong>Mô tả:</strong> @(string.IsNullOrEmpty(Model.Description) ? "Không có mô tả." : Model.Description)</p>

                    </h5>
                    <div class="playersocial bg-black clearfix" style="width: -webkit-fill-available;
                                                                       display: flex;
                                                                       justify-content: center;">
                        <a href="@Url.Action("Index", "Team")" class="button">Danh sách cầu thủ</a>
                        
                    </div>
                </li>
            </ul>
        </div>
    </div>

    </ul>
    </div>
    </div>
</section>